.newComplain {
  max-width: 30rem;
  margin: auto;
  margin-top: 3rem;
}
.message {
  margin-bottom: 1rem;
  text-align: center;
}
label,
input,
textarea {
  width: 100%;
  display: block;
  font-size: 1.2rem;
}
label {
  color: rgb(82, 78, 78);
}
input {
  height: 2rem;
  border: 2px solid #ccc;
  padding: 1rem;
}
textarea {
  resize: vertical;
  min-height: 15rem;
  border: 2px solid #ccc;
  padding: 1rem;
}
.newComplain form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.newComplain h2 {
  color: rgb(66, 63, 63);
  text-align: center;
  margin-bottom: 1rem;
}
input[type="checkbox"] {
  display: inline;
  width: 1rem;
  height: 1rem;
  padding: unset;
}
