@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
::root {
  --sidebar-bg-color: rebeccapurple;
  --button-bg-color: blueviolet;
  --button-color: white;
  --button-bg-color-hover: rgb(117, 29, 199);
  --btn-border-radius: 5px;
  --text-color: rgb(77, 77, 77);
  --sidebar-active-bg-color: rgba(216, 216, 216, 0.781);
  --sidebar-active-text-color: rgb(59, 59, 59);
  --sidebar-text-color: rgb(239, 239, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

.appContainer {
  display: flex;
}
.app {
  height: 200vh;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.app.maximize {
  padding-left: 17rem;
}
.app.minimize {
  padding-left: 8rem;
}

.model {
  padding: 1.5rem;
  position: absolute;
  z-index: 10000000000000;
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: rgb(81, 30, 129);
  transform: translate(50%, -50%);
  border: 3px solid rgb(132, 128, 128);
  border-radius: 5px;
}
