.profileContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}

.profileImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.editProfile button {
  border: none;
  background-color: blueviolet;
  padding: 0.8rem 1.5rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.editProfile button:hover {
  color: aliceblue;
  background-color: rgb(117, 29, 199);
}
.profileDetails * {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(77, 77, 77);
}
