.navContainer {
  padding: 1rem;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navContainer p:last-child {
  height: 2rem;
  width: 2rem;
  background-color: blueviolet;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
